{
  "my-link-to-docs": "https://jsdoc.app/about-configuring-jsdoc.html",
  "plugins": [],
  "source": {
    "include": [
      "./src/"
    ],
    "includePattern": ".+\\.(m)?js(doc|x)?$",
    "excludePattern": ""
  }
}
